server:
  port: 8081

spring:
  application:
    name: fraud
  datasource:
    username: 'mindgarden'
    password: 'password'
    url: jdbc:postgresql://localhost:5432/fraud
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: 'true'
    hibernate:
      ddl-auto: update
    show-sql: 'true'
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
